catboost==1.1.1
certifi==2021.10.8
charset-normalizer==2.0.12
datasets==2.9.0
huggingface-hub==0.12.0
minicons==0.2.9
multidict==6.0.4
multiprocess==0.70.14
numpy==1.22.3
openpyxl==3.0.10
pandas==1.4.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
prompt-toolkit==3.0.28
psutil==5.9.0
ptyprocess==0.7.0
pyarrow==11.0.0
pycantonese==3.4.0
Pygments==2.11.2
pylangacq==0.16.2
pyparsing==3.0.7
pyphen==0.13.2
python-dateutil==2.8.2
pytz==2022.1
regex==2022.10.31
scikit-learn==1.0.2
scikit-learn-intelex==2023.0.1
scipy==1.8.0
sklearn==0.0
spyder-kernels==2.2.1
textstat==0.7.3
tokenizers==0.13.2
torch==1.11.0+cu113
tornado==6.1
traitlets==5.1.1
transformers==4.26.0
wordseg==0.0.2
xgboost==1.5.2
xxhash==3.2.0